html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

#background{
	background-color: #000;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-position: center;
	display: table;
	height: 100%;
	width: 100%;
}

#loginContainer *{
	color: #FFF;
	font-family: monospace;
	box-sizing: border-box;
	line-height: 1em;
}

#loginContainer{
	width: 80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
	margin-top: 30px;
}

#loginContainer .errorMessage{
	display: block;
	color: red;
}

#inputContainer label{
	font-weight: bold;
	font-size:larger;
}

#inputContainer {
    width: 400px;
    padding: 45px;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    border-radius: 20px;
    margin-top: 85px;
    float: left;
}

#inputContainer h2{
	text-align: center;
}

#inputContainer button{
	color: lightblue;
	border-radius: 50px;
	border: 3px solid lightblue;
	background-color: transparent;
	font-weight: 300;
	height: 30px;
	width: 200px;
}

#inputContainer button:hover{
	color: black;
	border-radius: 50px;
	border: 3px solid white;
	background-color: white;
	font-weight: 300;
	height: 30px;
	width: 200px;
	cursor: pointer;
}

#inputContainer input{
	display: block;
	color: lightblue;
	border: 0;
	border-bottom: 1px solid #FFF;
	background-color: transparent;
	line-height: 20px;
	width: 100%;
	font-weight: bold;
	font-size:larger;
}

#informationContainer {
    float: right;
    width: 600px;
    margin-top: 85px;
    padding: 45px;
}

#informationContainer p{
	font-size: large;
	display:list-item;
}

#pbutton{
	text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgrey;
  font-weight: normal;
  opacity: 1; /* Firefox */
}

.hasAccount{
	text-align: center;
}

.hasAccount:hover{
	cursor: pointer;
}